form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  width: 400px;
}

input {
  margin-bottom: 15px
}

.signup_social {
  display: flex;
  justify-content : space-between;
  margin-bottom: 20px;
}