#root {
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  width: 450px;
}

input {
  margin-bottom: 15px;
}

.signup_social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signup_social button {
  font-size: 11px;
}

.signup_social img {
  width: 20px;
  height: 20px;
}
