#root {
  margin-top: 100px;
}

/*AuthForm.js*/

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  width: 450px;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.signIn_social {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.signIn_social button {
  font-size: 11px;
}

.signIn_social img {
  width: 20px;
  height: 20px;
}

.signIn_personnal {
  display: flex;
  flex-direction: column;
}

.button_google,
.button_facebook {
  padding: 10px;
}

.connect {
  background-color: #3f53d9;
  color: #fff;
}

.message_required {
  color: red;
  font-weight: bold;
}
